#map {
    height: 100vh;
    width: 100%;
}
.gm-ui-hover-effect {
    background-color: white !important; 
    border-radius: 50% !important; 
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Change the "X" color */
.gm-ui-hover-effect > span {
    color: black !important; 
    font-size: 16px !important;
    font-weight: bold;
}

#search-box {
    margin: 10px;
    padding: 8px;
    position: absolute;
    top: 85px;
    left: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 1000; /* Ensures it stays above the map */
    width: 300px;
}
#guide-box {
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 1000; 
    width: 200px;
}s

#guide-box h3 {
    margin: 0 0 2px 0;
    font-size: 16px;
    text-align: center;
}

.guide-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.guide-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
#map {
    position: relative;
}