#map {
    height: 100vh;
    width: 100%;
}
.gm-ui-hover-effect {
    background-color: white !important; 
    border-radius: 50% !important; 
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Change the "X" color */
.gm-ui-hover-effect > span {
    color: black !important; 
    font-size: 16px !important;
    font-weight: bold;
}

#search-box {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px;
    width: 280px;
    border-radius: 6px;
}
#guide-box {
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 1000; 
    width: 200px;
}s

#guide-box h3 {
    margin: 0 0 2px 0;
    font-size: 16px;
    text-align: center;
}

.guide-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.guide-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
#map {
    position: relative;
     height: 100vh;
    width: 100%;
}
#side-panel {
    position: absolute;
    top: 0;
    right: -400px;
    width: 380px;
    height: 100%;
    background: white;
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);
    z-index: 20;
    transition: right 0.4s ease;
    overflow-y: auto;
    padding: 20px;
}

#side-panel.open {
    right: 0;
}

/* Animation */
#side-panel img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

#close-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#suggestions {
    position: absolute;
    top: 100%;            /* directly under input */
    left: 0;
    right: 0;
    margin-top: 4px;

    list-style: none;
    padding: 0;
    margin-left: 0;

    background: #fff;
    border-radius: 6px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);

    max-height: 240px;
    overflow-y: auto;

    display: none;
}
#suggestions li {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

#suggestions li:last-child {
    border-bottom: none;
}

#suggestions li:hover {
    background-color: #f5f5f5;
}

